appdirs==1.4.4
certifi==2020.12.5
cfgv==3.2.0
chardet==4.0.0
click==7.1.2
colorama==0.4.4
distlib==0.3.1
et-xmlfile==1.0.1
filelock==3.0.12
identify==1.5.13
idna==2.10
jdcal==1.4.1
nodeenv==1.5.0
numpy==1.20.1
openpyxl==3.0.6
pandas==1.2.2
patsy==0.5.1
pre-commit==2.10.1
python-dateutil==2.8.1
pytz==2020.5
PyYAML==5.4.1
requests==2.25.1
ruamel.yaml==0.16.12
scipy==1.6.0
six==1.15.0
statsmodels==0.12.1
toml==0.10.2
tqdm==4.56.0
urllib3==1.26.3
virtualenv==20.4.2
